:root {
  --primary: #59d58b;
  --secondary: #f5fff4;

  --white: #fbfdf8;
  --black: #191c19;

  --text-90: #e1e3de;
  --text-80: #c5c7c2;
  --text-60: #8f918d;
  --text-50: #757874;

  --header-z-index: 10;
  --footer-z-index: 10;

  --header-height: 64px;
  --footer-height: 46px;

  --mobile-padding: 15px;

  --one-point-five: 0.09375em;
  --zero-point-five: 0.031em;
}
