:root {
  --primary: #59d58b;

  --white: #fbfdf8;

  --header-z-index: 10;
  --footer-z-index: 10;

  --header-height: 64px;
  --footer-height: 46px;

  --mobile-padding: 15px;

  --one-point-five: 0.09375em;
  --zero-point-five: 0.031em;
}
