:root {
  --primary-100 : #9be6b9;
  --primary-200 : #8be2ae;
  --primary-300 : #7adda2;
  --primary-400 : #6ad997;
  --primary-500 : #59d58b;
  --primary-600 : #50c07d;
  --primary-700 : #47aa6f;
  --primary-800 : #3e9561; 
  --primary-900 : #358053;
      

  --button-pseudo-class: #1ba561cc;

  --google :#db4437;
  --github :#6e5494;

  --white: #ffffff;
  --black: #191c19;

  --text-90: #e1e3de;
  --text-80: #c5c7c2;
  --text-60: #8f918d;
  --text-50: #757874;

  --header-z-index: 10;
  --footer-z-index: 10;

  --header-height: 64px;
  --footer-height: 46px;

  --mobile-gap: 15px;

  --one-point-five: 0.09375em;
  --zero-point-five: 0.031em;
}
.body01 {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
}

.body02 {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.footer {
  font-size: 14px;
  line-height: 16px;
  color: var(--text-50);
}

.button {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
}
.label {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
}

.sub_title {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 60px;
}

title {
  font-family: "Spoqa Han Sans Neo";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 60px;
}
